.pricing {
    &__item {
        @extend %p-30, %bg-white;
        @include border-radius(10px);
        @include transition($transition);
        box-shadow: 0px 0px 24px rgba(179, 181, 191, 0.42);
        &:hover, &.active {
            @include transform(translateY(-5px));
            .pricing {
                &__body {
                    .lab-btn {
                        @extend %white-color, %bg-theme2;
                    }
                }
            }
        }
    }
    &__head {
        @extend %flex, %justify-between, %mb-30, %align-items-center;
        border-bottom: 1px solid rgba($title-color, $alpha: .1);
    }
    &__body {
        ul {
            @extend %mb-20;
            li {
                padding-block: 8px;
                i {
                    @extend %mr-5, %d-inline-block, %text-center;
                    width: 16px;
                    height: 16px;
                    line-height: 16px;
                    @include border-radius(100%);
                    @include font-size(12px);
                    &.icofont-check {
                        @extend %bg-theme2, %white-color;
                    }
                    &.icofont-close {
                        @extend %white-color;
                        background: rgba($title-color, $alpha: .1);
                    }
                }
            }
        }
        .lab-btn {
            background: #EFEFEF;
            @extend %d-block, %title-color;
            @include transition($transition);
        }
    }
    &__left {
        @extend %d-inline-block;
        h4 {
            @extend %mb-0, %text-600;
        }

    }
    &__right {
        @extend %d-inline-block, %mb-20, %text-center;
        padding: 8px 15px;
        background: #EFEFEF;
        @include border-radius(8px);
        h5 {
            @extend %mb-0, %text-600;
        }
        p {
            @extend %mb-0;
        }
    }
}