.store {
    background: #F5F5F5;
    .section {
        &__header {
            max-width: 100%;
            @extend %mb-0;
            p {
                @include breakpoint(xl) {
                    max-width: 560px;
                }
            }
            ul {
                @extend %flex, %mt-30;
                gap: 30px;
                @include breakpoint(max-sm) {
                    gap: 15px;
                }
                li {
                    @extend %d-inline-block;
                    max-width: 90%;
                    a {
                        @extend %d-inline-block, %hidden;
                        filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.1));
                        @include border-radius(8px);
                        &:hover {
                            @include transform(translateY(-5px));
                        }
                        img {}
                    }
                }
            }
        }
    }
    &__thumb {
        animation: swing 80s linear infinite;
    }
    &--two {
        .store {
            &__thumb {
                animation: none;
                margin-bottom: -120px;
            }
        }
    }
}